.chatWindow {
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar span {
    margin: 1rem 2rem;
}

.userIconDiv {
    margin: 1rem 2rem;
}

.userIconDiv span {
    background-color: #339cff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.chatInput {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.inputBox {
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    font-size: 1rem;
    border-radius: 40px;
    box-shadow:rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px,
                rgba(0, 0, 0, 0.05) 0 4px 6px,
                rgba(0, 0, 0, 0.05) 0 12px 3px,
                rgba(0, 0, 0, 0.05) 0 -3px 5px,
}

input:focus{
    outline: none;
}

.info{
    font-size: 0.8rem;
    /* padding: 05rem; */
    color: #b4b4b4;
}


#send {}
