.sidebar {
    background-color: #171717;
    color: #b4b4b4 ;
    height: 100vh;
    width:320px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.sidebar .logo{
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;

}

button {
    display: flex;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: solid rgba(255, 255, 255, 0.5);
    justify-content: space-between;
    align-items: center;
}

button span {
    font-size: 20px;
}

